@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html[lang="ja"] {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  background-color: rgb(2, 0, 36);
}

#comp {
  background: linear-gradient(135deg, black, rgb(0, 60, 120));
  background: -webkit-linear-gradient(-45deg, black, rgb(0, 60, 120));
  background: -moz-linear-gradient(-45deg, black, rgb(0, 60, 120));
  background-size: 300% 300%;

  animation-name: gradation;
  animation-duration: 5.0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes gradation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

/* Annotorious styles */
svg.a9s-annotationlayer .a9s-selection .a9s-outer,
svg.a9s-annotationlayer .a9s-annotation .a9s-outer {
  display: none;
}

svg.a9s-annotationlayer .a9s-selection .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation .a9s-inner {
  stroke-width: 2;
  stroke: blue;
}
svg.a9s-annotationlayer .a9s-selection .a9s-inner.a9s-inner:hover,
svg.a9s-annotationlayer .a9s-annotation .a9s-inner:hover{
  stroke: red;
}

svg.a9s-annotationlayer .a9s-handle .a9s-handle-inner {
  fill: red;
  stroke: black;
}

.a9s-annotationlayer .a9s-formatter-el,
.a9s-annotationlayer .a9s-formatter-el foreignObject {
  overflow:visible;
  pointer-events:none;
}

/*.a9s-annotationlayer .a9s-formatter-el foreignObject .a9s-shape-label-wrapper {
  position:relative;
  transform:translateY(-100%);
  padding-bottom:4px;
}*/

.a9s-annotationlayer .a9s-formatter-el foreignObject div .a9s-shape-label {
  display: table !important;
  margin-top: -1px !important;
  margin-left: -19px;
  padding: 2px !important;
  white-space: nowrap !important;
  background-color: rgba(0, 0, 255, 0.85) !important;
  border-radius: 3px !important;
  border-color: blue;
  font-size: 16px !important;
  color: white !important;
}

foreignObject.hidden {
  display: none;
}